################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Blog
/.vs
/Blog/bin/Debug/netcoreapp2.1
/Blog/obj
/Blog.sln.DotSettings.user
