################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Blog
/.vs
/Blog/bin/Debug/netcoreapp2.1
/Blog/obj
/Blog.sln.DotSettings.user
/Blog/wwwroot/js
/Blog.Tests.Integration/obj/Debug/netcoreapp2.1
/Blog.Tests.Integration/obj
/Blog/credentials.json
/Blog/DriveApiConfig.txt
/Blog.Tests.Integration/bin/Debug/netcoreapp2.1
/Blog/token.json/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user
