@model object

@{
    Layout = "_Layout";
}

<section>
    <div class="row">
        <h3 class="text-primary col-sm-6" style="margin-bottom: 50px" id="commentsSectionTitle"></h3>
        <div class="form-group col-sm-3" style="margin-top: 10px">        
            <label>Display comments:</label>
            <select class="form-control" id="dropdown">
                <option>waiting for approval</option>
                <option>approved</option>
                <option>rejected</option>
            </select>
        </div>  
    </div>
   
    <div id="commentSection"></div>
</section>
<div id="pagination" style="text-align: right"></div>

@section Scripts{
    <style>
        .panel-heading a {
            cursor: pointer;
            margin-left: 15px;
            color: #337ab7;
        }                           
    </style>
    <script src="~/js/Comments/Index.js"></script>
}